# ignore standard temp files
temp/
*.swp

# ignore eclipse files
.project
.settings
*.classpath

# ignore Playframework files
dist/
eclipse/
lib/
logs/
modules/
tmp/
*.pyc

# ignore Maven files
*target/
