*{ ~~~~~~~~~~~~~~~~~~~~~
#  Parameters
  - <nothing>
   ~~~~~~~~~~~~~~~~~~~~~ }*
#{if play.mode.name() == 'DEV' && play.configuration['plui.googleanalytics.indev'] == false}
<!-- No Google Analytics tracker (DEV Mode) -->
#{/if}
#{elseif play.configuration['plui.googleanalytics.account']}
<!-- Google Analytics tracker - START -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '${play.configuration['plui.googleanalytics.account']}']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<!-- Google Analytics tracker - END -->
#{/elseif}
#{else}
<!-- No Google Analytics tracker (no account specified) -->
#{/else}
