<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <!-- jquery-ui module -->
        #{jqueryui.css /}
        <!-- bootstrap module -->
        #{bootstrap.css responsive:'true' /}
        <!-- Google prettyprint module -->
        #{prettyprint.css theme:'sunburst'/}
    </head>
    <body style="padding-top: 60px;">

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Be sure to leave the brand out there if you want it shown -->
                <a class="brand" href="@{Application.index}">Play UI</a>
                <ul class="nav">
                    <li><a href="@{Application.bootstrap}">Bootstrap</a></li>
                    <li><a href="@{Application.jqueryui}">JQuery UI</a></li>
                    <li><a href="#">...</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li>
                        <form class="navbar-search" action="">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-search"></i></span>
                                <input type="text" placeholder="Search" class=" search-query" />
                            </div>
                        </form>
                    </li>
                    <a href="#" class="btn btn-mini"><i class="icon-question-sign"></i></a>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        #{doLayout /}
    </div>
    <!-- ===================
        javascript imports
        =================== -->
    <!-- jquery module -->
    #{jquery.js /}
    <!-- old version packaged (for testing purpose)
        #{jquery.js version:'1.7.2', charset:_response_encoding /}
        #{jquery.js version:'1.6.4', charset:_response_encoding /}
        #{jquery.js version:'1.5.2', charset:_response_encoding /}
    -->
    <!-- jquery-ui module -->
    #{jqueryui.js /}
    <!-- bootstrap module -->
    #{bootstrap.js /}
    <!-- Google prettyprint module -->
    #{prettyprint.js /}
    <!-- All more script -->
    <script type="text/javascript" language="javascript">
        #{get 'moreScripts' /}
        </script>
    </body>
</html>
